.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titulo {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.descricao {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
}